:root {
    --purple-red: rgb(23, 24, 27);
}
*,
html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
li{
    list-style-type: none;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
    
}
.navbar .logo img{
    color: white;
    height: 60px;
    line-height: 50px;
    font-size: 28px;
    float: left;
}
nav{
    float:right
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 17px;
    margin: 10px 5px 10px 5px;
    height: 50px;
    line-height: 50px;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: transparent;
    border-radius: 5px;
    border: white 2px solid;
}
.navbar .active{
    background-color: black;
}
 .img{
    color: rgb(255, 255, 255);
    float: right;
    line-height: 50px;
    width: 30px;
    display: none;

}
@media (max-width: 600px) {
    header {
        padding: 0 40px;
    }
    .img{
        display: block;
    }
    nav{
        /* display: none; */
        position: absolute;
        width: 100%;
        background-color: #333;
        text-align: center;
        top: 50px;
        left: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul{
        display: block;
    }
}


/* hero section */
.hero-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url(images/port\ 2.jpeg);
    /* background-color: var(--purple-red); */
}
.hero-section h1{
    color: white;
    font-size: 60px;
}
.hero-section p{
    color: #aa022c;
    font-size: 30px;
    text-align: center;
}
@media (max-width: 600px) {
    .hero-section{
        align-items: center;
        text-align: center;
    }
    .hero-section h1{
        font-size: 30px;
    }
    .hero-section p{
        font-size: 15px;
    }
}
/* end of hero section */


/* .projects */
.projects {
    margin-top: 50px;
    width: 100%;
    align-items: center;
}
.header{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}
.cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}
.cards-container .project {
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }
  .image-wrapper {
    height: 268px;
    width: 100%;
    background: #d0d9d4;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
  }
  
  .project-img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: absolute;
  }
  
  .project-footer {
    padding: 16px;
    width: 100%;
    border-radius: 8px;
  }
  
  .project-title-wrapper {
    font-size: 1.5rem;
  }
  
  .project-title-wrapper h4 {
    font-size: 100%;
    color: #3a4a42;
    text-align: center;
    text-transform: capitalize;
  }
  
  .project-buttons-wrapper {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 0.75rem;
  }
  
  .project-buttons-wrapper button {
    background: #ebf0ee;
    border-radius: 4px;
    padding: 8px 12px;
    border: none;
    height: 32px;
    color: #3a4a42;
    font-size: 100%;
    font-weight: 600;
    font-family: inherit;
  }
  .section-button {
    background: #36b37f;
    padding: 12px;
    border-radius: 4px;
    margin: 0 auto;
    border: none;
    height: 48px;
    font-family: inherit;
    font-size: 1.0625rem;
    font-weight: 500;
    color: #fff;
    display: grid;
    place-items: center;
    text-transform: capitalize;
  }
  
  .section-button:hover {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(54, 179, 127, 0.24);
    color: #36b37f;
    border: 1px solid #36b37e;
    cursor: pointer;
  }
  
  .section-button:active {
    background: #008552;
  }
/* end of projects */



/* footer section */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background-color: rgb(49, 59, 68);
}
.footer-header h1{
    font-size: 4rem;
    margin-top: 40px;
    margin-bottom: 2px;
    padding-bottom: 0;
    color: white;
}
.footer-header p{
    font-style: italic;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 30px;
    color: rgb(226, 224, 224);
}
 
    .end-links{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        font-size: 22px;
    }
    .end-links a{
        text-decoration: none;
        color: rgb(7, 111, 247);
        transition: 0.5s ease;
    }
    .end-links :hover{
     color: rgb(9, 171, 247);
     transform: translateY(8px);
    }
    .end-footer{
        background-color: rgb(49, 59, 68);
        border-top: rgb(165, 30, 30) solid;
        width: 100%;
        height: 100%;
        text-align: center;
       
    }
    .lst p{
        color: white;
        font-size: 20px;
        padding: 20px;
    }
    #back-to-top {
        width: 40px;
        height: 40px;
        background-color: black;
        right: 10px;
        bottom: 10px;
        position: fixed;
        color: white;
        animation: beat 2s ease-in-out infinite;
    }
    .fa {
        color: white;
    }
    @keyframes beat {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }
    @media (max-width: 600px) {
        .footer-header h1{
            font-size: 2.5rem;
        }
        .end-links{
            font-size: 17px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-right: 40px;
            color: rgb(0, 81, 255);
        }
    }