:root {
    --purple-red: rgb(23, 24, 27);
}
*,
html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    position: fixed;
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
    
}
header .logo{
    color: white;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
}
nav{
    float:right
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 17px;
    height: 50px;
    line-height: 50px;
    transition: 0.5s;
}
nav ul li a:hover,
nav ul li a.active{
    background-color: rgb(33, 28, 56);
}
 .img{
    color: rgb(255, 255, 255);
    float: right;
    line-height: 50px;
    width: 30px;
    display: none;

}
@media (max-width: 600px) {
    header {
        padding: 0 40px;
    }
    .img{
        display: block;
    }
    nav{
        /* display: none; */
        position: absolute;
        width: 100%;
        background-color: #333;
        text-align: center;
        top: 50px;
        left: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul{
        display: block;
    }
}



.hero-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple-red);
}
.hero-section h1{
    color: white;
    font-size: 60px;
}
.hero-section p{
    color: #aa022c;
    font-size: 30px;
    text-align: center;
}
.projects {
    background-color: rgb(69, 87, 136);
    width: 100%;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header{
    color: white;
    align-items: center;
}
.card{
    width: 500px;
    margin-top: 10px;
    background-color: rgb(49, 59, 68);
    text-align: center;
    max-width: 400px;
}
.card a{
    text-decoration: none;
}
.card a{
    color: white;
    font-size: 20px;
}
.code{
    color: rgb(49, 59, 68);
}
.card:hover .code{
    color: orangered;
    transition: 1s;
    }
    .btn{
        margin-top: 50px;
        margin-bottom: 70px;
        align-items: center;
        display: inline-block;
        margin-left: 40px;
    }
.btn a{
    background-color: rgb(49, 59, 68);
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;

}
.btn :hover{
    background-color: red;
    transition: 1s;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background-color: rgb(49, 59, 68);
}
.footer-header h1{
    font-size: 4rem;
    margin-top: 40px;
    margin-bottom: 2px;
    padding-bottom: 0;
    color: white;
}
.footer-header p{
    font-style: italic;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 30px;
    color: rgb(226, 224, 224);
}
.end a{
    color: white;
    text-decoration: none;
    font-size: 21px;
    margin-top: 1px;
    margin-bottom: 100px;
    }
    .end-links{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        font-size: 22px;
    }
    .end-links a{
        text-decoration: none;
        color: white;
        transition: 0.5s ease;
    }
    .end-links :hover{
     color: white;
     transform: translateY(8px);
    }
    .end-footer{
        background-color: rgb(49, 59, 68);
        border-top: rgb(165, 30, 30) solid;
        width: 100%;
        height: 100%;
        text-align: center;
        margin-top: 0px;
       
    }
    .lst p{
        color: white;
        font-size: 20px;
    }
    #back-to-top {
        width: 40px;
        height: 40px;
        background-color: black;
        right: 10px;
        bottom: 10px;
        position: fixed;
        color: white;
        animation: beat 2s ease-in-out infinite;
    }
    .fa {
        color: white;
    }
    @keyframes beat {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }