*,
html,
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: black;
}

h1 {
  color: white;
  text-align: center;
  animation: move 10s ease;
  
}

@keyframes move {
    0% { transform: translate(-100%);}
    100% {transform: translate(0);}
}

h2 {
    color: white;
    text-align: center;
    animation: run 10s ease;
}

@keyframes run {
    0% {transform: translate(100%);}
    50% {color: red;}
    75% {font-size: 60px;}
    100% {transform: translate(0);} 
    
}